[tool.ruff]
exclude = ["unittests"]

line-length = 120
target-version = "py311"

select = [
    "ALL",
    "A",       # flake8-builtins
    "ARG",     # flake8-unused-arguments
    "B",       # flake8-bugbear
    "C",       # mccabe
    "DTZ",     # flake8-datetimez
    "E",       # pycodestyle errors
    "EM",      # flake8-errmsg
    "F",       # pyflakes
    "FBT",     # flake8-boolean-trap
    "I",       # isort
    "ICN",     # flake8-import-conventions
    "ISC",     # flake8-implicit-str-concat
    "N",       # pep8-naming
    "PLC",     # pylint convention
    "PLE",     # pylint errors
    "PLR",     # pylint refactor
    "PLW",     # pylint warnings
    "Q",       # flake8-quotes
    "RUF",     # ruff-specific rules
    "S",       # flake8-bandit (security)
    "T",       # flake8-debugger
    "TID",     # tidy imports
    "UP",      # pyupgrade
    "W",       # pycodestyle warnings
    "YTT",     # flake8-2020
]
ignore = [
    "S311",
    "PLR0913", # to many arguments
    "B008",
    "TID252",  # prefer absolute import
    "F405",    # os import
    "PLR2004", #
    "D101", # missing docstring
    "D102", # Missing docstring in public method
    "D103", # Missing docstring in public function
    "D105", # Missing docstring in magic method
    "ERA001", #  Found commented-out code
    "FAST002",
    "ANN401",
]
